@charset "UTF-8";
/* --------------------------------------
	STARTPAGE
 ---------------------------------------*/		

$font-stack:    		Helvetica, sans-serif;
$font-size-text: 		18px;
$font-weight-text:		300;

$font-size-hl1:			22px;
$font-weight-hl1:		500;

$bg_yellow80:			rgba(254,193,6,08); //#fec106
$bg_darkgray50:			rgba( 20, 20, 20,0.5);
$bg_darkgray80:			rgba( 20, 20, 20,0.8);
$bg_gray80:				rgba(150,150,150,0.8);

$height_header:			40px;	

$start_content_width: 		400px;
$item_height_hl:			40px;
$item_height:				40px;

/* --------------------------------------*/

#startpage {

	color:white;

	.outerWrapper {
		position: absolute;
		z-index: 50;
		height: 100%;
		width:100%;
		margin: 0px; 
		background: url("../img/bg/bg_conSim_overpaint1.png") no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.wrapper {
		z-index: 200;
		height: 100%; 
		width: 100%; 
		display: table; 
	}

	.innerWrapper {
		z-index: 60;
		position: relative;
		display: table-cell; 
		width: 100%; 
		vertical-align: middle;
	}

	.hlLogo {
		z-index: 60;
		position: relative;
		width:$start_content_width;
		height:auto;
		margin: 0px auto 0px auto;
	}

	.hlLogoImage {
		z-index: 60;
		position: relative;
		width:auto;
		height:100%;
		margin: 0px 0px 0px 0px;
		opacity: 0.8;
    	filter: alpha(opacity=80); /* For IE8 and earlier */
	}

	.hlConnection {
		z-index: 60;
		position: relative;
		width:$start_content_width;
		height:$item_height_hl;
		margin: 0px auto 0px auto;
		background:$bg_darkgray80;

		span {
			position: absolute;
			margin: 8px 0px 0px 20px;
			font-size: $font-size-hl1;
		}
	}

	.contentBox {
		z-index: 60;
		position: relative;
		height: 30%;
		min-height:80px; 
		max-height:300px;
		width: $start_content_width; 
		background-color: none; 
		margin-left: auto; 
		margin-right: auto;
		overflow: auto;
	}
	
	#connectionInput {
		float:left;
		width:100%;
	}
	
	.inputrow {
		clear:both;
		float:none;
		height:40px;
		margin: 4px 0px 0px 0px;
	}
	
	/* INPUT FIELDS */ 
	
	fieldset {
		width:100%;
		height:auto;
	  	outline: none;
		border: 0;
		margin: 0;
		padding:0;
	}
	
	input {
		appearance: none;
	  	box-shadow: none;
	  	border-radius: none;
	  	outline: none;
	  	font-family: $font-stack;
	  	font-size: $font-size-text;
	  	font-weight: $font-weight-text;
	  	border: solid 0px #c9c9c9;	
		background:$bg_darkgray80;
	  	color: white;
		padding: 10px 20px 10px 20px;
		-webkit-border-radius: x0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	input:focus {
	  	border: solid 0px #969696;
		background:$bg_gray80;
	}
	
	.inputleft {
		float:left;
		width:300px;
	}
	
	.inputright {
		float:right;
		width:110px;
	}
	
	.inputpw {
		float:left;
		width:299px;
		padding-left:20px;
	}
	
	.imgLabel{
		height:41px;
		width:41px;
		float:left;
		background: $bg_darkgray80;
		padding: 0px 10px 0px 10px;
		img {
			height:30px;
			width:30px;
			margin: 5px 5px 5px 5px;
		}
	}
	
	
	button {
	  	width: 100%;
	  	font-family: $font-stack;
	  	font-size: $font-size-text;
	  	font-weight: $font-weight-text;
	  	
		appearance: none;
	  	box-shadow: none;
	  	border-radius: none;
	  	outline: none;
	  
	  	border: solid 0px #c9c9c9;
	  	transition: border 0.3s;	
		background:$bg_yellow80;
	  	color: black;
	  	margin: 10px 0px 0px 0px;
		padding: 10px;
	}
	
	.inputError{
		visibility:hidden;
		float:left;
		clear:both;
		position: relative;
		width:400px;
		height:auto;
		color:white;
		background:red;
		text-align: center;
		margin: 10px 0px 0px 0px;
		padding:10px 0px 10px 0px;
	}
	
	.connectionLoadingBar{
		height:16px;
		width:16px;
	}
		
}