@charset "UTF-8";
/* --------------------------------------
 	BRIEF:
	STANDARD STYLE SCSS DOCUMENT
	Construction Simulator 2015 Companion App
	Author: Oliver Kulas
	Date: April 2015
 ---------------------------------------*/


