@charset "UTF-8";
/* --------------------------------------
	MAIN MENU
 ---------------------------------------*/		
$menuItemHeight:	60px;
$menuItemWidth: 	250px;
$menuOuterMargin:	1px;

$font-stack:    		Helvetica, sans-serif;
$font-size-text: 		18px;
$font-weight-text:		300;

$font-size-hl1:			22px;
$font-weight-hl1:		500;

$bg_yellow80:			rgba(254,193,6,08); //#fec106
$bg_darkgray50:			rgba( 20, 20, 20,0.5);
$bg_darkgray80:			rgba( 20, 20, 20,0.8);
$bg_gray80:				rgba(100,100,100,0.8);

$height_header:			40px;	

 /*---------------------------------------*/
 
#mainmenu {

	position:fixed;
	z-index: 2000;
	/*top: setted by JS*/
	right:$menuOuterMargin;
	width:$menuItemWidth;
	height:auto;
	overflow: scroll;
	color:white;

	.menuOuterWrapper {
		position: relative;
		width: 100%;
		height: 100px;
		background:none;
		overflow: scroll;
	}

	.menuItemWrapper {
		position: relative;
		width: $menuItemWidth;
		height: $menuItemHeight;
		margin: 1px 0px 1px 0px;
		background:$bg_darkgray80;
	}
	
	.menuItemWrapper:hover {
		cursor: pointer;
		background: $bg_yellow80;
		color:black;
		.menuItemIcon img {
			background: black;
		}
	}

	.menuItemIcon img {
		position: relative;
		float:left;
		top:0px;
		left:0px;
		width:  $menuItemHeight;
		height: $menuItemHeight;
		margin: 0px 0px 0px 0px;
		background:$bg_darkgray50;
		
	}

	.menuItemLabel {
		position: relative;
		float:left;
		top:0px;
		left:0px;
		max-width:  $menuItemWidth - $menuItemHeight -35px;
		margin: 20px 15px 0px 20px;
		background:none;
	}


}