@charset "UTF-8";
/* --------------------------------------
	STARTPAGE
 ---------------------------------------*/		

$start_content_width: 		400px;
$item_height_hl:			40px;
$item_height:				40px;

#startpage {

	color:white;

	.outerWrapper {
		position: absolute;
		z-index: 50;
		height: 100%;
		width:100%;
		margin: 0px; 
		background: url("../img/bg/bg_conSim_overpaint1.png") no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.wrapper {
		z-index: 200;
		height: 100%; 
		width: 100%; 
		display: table; 
	}

	.innerWrapper {
		z-index: 60;
		position: relative;
		display: table-cell; 
		width: 100%; 
		vertical-align: middle;
	}

	.hlLogo {
		z-index: 60;
		position: relative;
		width:$start_content_width;
		height:auto;
		margin: 0px auto 0px auto;
	}

	.hlLogoImage {
		z-index: 60;
		position: relative;
		width:auto;
		height:100%;
		margin: 0px 0px 0px 0px;
		opacity: 0.8;
    	filter: alpha(opacity=80); /* For IE8 and earlier */
	}

	.hlJoinGame {
		z-index: 60;
		position: relative;
		width:$start_content_width;
		height:$item_height_hl;
		margin: 0px auto 5px auto;
		background:$bg_transparent80;

		span {
			position: absolute;
			margin: 10px 0px 0px 20px;
			font-size: $font-size-hl1;
			
		}
	}

	.contentBox {
		z-index: 60;
		position: relative;
		height: 30%;
		min-height:80px; 
		max-height:300px;
		width: $start_content_width; 
		background-color: none; 
		margin-left: auto; 
		margin-right: auto;
		overflow: auto;
	}

	.itemJoinGame {
		z-index: 60;
		position: relative;
		width: 100%;
		height:$item_height;
		margin: 1px auto 1px auto;
		background:$bg_transparent80;

		span {
			position: absolute;
			margin: 10px 0px 0px 10px;
			padding-top: 0px;
			padding-left: 20px;
		}
	}

	.itemJoinGame:hover {
		background:$bg_div_hover;
	}

}


