@charset "UTF-8";
/* --------------------------------------
 	BRIEF:
	STANDARD STYLE MAIN CSS DOCUMENT
	Construction Simulator 2015 Companion App
	Author: Oliver Kulas
	Date: April 2015
 ---------------------------------------*/

$font-stack:    		Helvetica, sans-serif;
$font-size-text: 		18px;
$font-weight-text:		300;

$font-size-hl1:			22px;
$font-weight-hl1:		500;

$primary-color: 		#333;

$bg_transparent50:		rgba(0,0,0,0.4);
$bg_transparent80:		rgba(0,0,0,0.7);
$bg_div_hover:			red;

$height_header:			40px;	


* {
	margin:  0px; 
}

body {
  	font: 100% $font-stack;
  	color: $primary-color;
  	font-size: $font-size-text;  
	font-weight: $font-weight-text;
	overflow: hidden;
}

.header { 
	position:fixed; 
	height: $height_header;
	top:0px; 
	left:0px; 
	right:0px; 
	overflow:hidden; 
	background-color: none; 
}

.wrapperHeader { 
	position:static;  
	 
	left:50%; 
	right:50%; 
	margin-left:-50%;
	background:none;

}

.headerLeft {
	position: fixed;
	z-index:1000;
	float:left;
	top:0px;
	left:0px;
	height: $height_header;
	width: 320px;
	margin:0px;
	background-color:none;

}

.headerRight {
	position:fixed;
	z-index: 1000;
	float:left;
	top:0px;
	right:0px;
	height: $height_header;
	width:70%;
	margin:0px;
	background-color:$bg_transparent80;

}

#headerMenuCompLogo{
	position: relative;
	left:0px;
	top:0px;
	height: $height_header;
	opacity: 0.7;
    filter: alpha(opacity=70); 
}

#headerMenuBtn{
	position: absolute;
	right:0px;
	top:0px;
	height: $height_header;
}

.headerMenuBtn:hover{
	position: absolute;
	right:5px;
	top:10px;
	height: 100%;
	background: $bg_div_hover;
}

.footer {
	position: fixed;
	z-index:100;
	left:-$height_header;
	bottom: 0px;
	width:180px;
	height:40px;
	background: $bg_transparent80;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
}

.footerLogoFixWB {
	position: relative;
	z-index:100;
	height:30px;
	margin: 5px 0px 0px 65px;
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
}

.footerLogoFixConSim {
	position: absolute;
	z-index:100;
	right:20px;
	bottom: 0px;
	height:20%;
}

@import "_style_cscompanion_start.scss";

@import "_style_cscompanion_mainmenu.scss";
